<p style="color: green"><%= notice %></p>

<h1>LIST OF COMPANIES</h1>


<div id="iex">

<% @trials.each do |trial| %>
  <%= trial.company_name %>
  $<%= trial.latest_price %>
  <%= link_to "Show This Company", trial.symbol %>
  <br><br>
<%end%>



</div>

